@font-face {
  font-family: 'Gutenberg Textura';
  src: url('../GutenbergTextura.ttf');
}

@font-face {
  font-family: 'Segoe UI Emoji';
  /* src: local('Segoe UI Emoji'), url('../seguiemj.ttf'); */
  src: url('../TwemojiMozilla.ttf');
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  margin-left: 2rem;
}

header h1 {
  font-family: 'Gutenberg Textura', serif;
  font-size: 50px;
  color: #61dafb;
  margin: 0;
}

header p {
  font-size: 14px;
  opacity: 0.4;
}

footer {
  margin: 1rem;
  opacity: 0.3;
  font-size: 12px;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 2rem;
  text-align: right;
  transition: opacity .3s ease-in-out;
}

footer:hover {
  opacity: 1;
}

main {
  font-family: 'Segoe UI Emoji';
}

main span {
  display: block;
  text-align: center;
  font-size: 150px
}

#shield {
  max-width: 500px;
  width: 100%;
  filter: drop-shadow( 0px 4px 3px rgba(0, 0, 0, .3));
}

a {
  color: inherit;
}

@media (max-width: 550px) {
  header { text-align: center; right: 0; margin: 1em 0; }
  header h1 { font-size: 10vw }
  header p { font-size: 10px }
  main { margin: 1em }
  main span { font-size: 100px}
  #shield { max-width: 400px}
}

@media (min-width: 1050px) and (min-height: 800px) {
  #shield { width: 700px}
}
